/*  your css code here. If applicable */
.book-library{
	background-color:#ffffff;
	text-align:center;
}
.book{
    background-color: #f8f8f8;
	border-radius:10px;
	
}
.p1{
	color: #777777;
}
.p2{
	background-color: #2ecc71;
	color:white;
	
}